@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Oswald:wght@700&display=swap');

/* Portafolio */
:root {
    --dark: #0a192f;
    --aqua: #00ffff;
    --white: #fff;
}

body {
    background-color: var(--dark) !important;
    color: var(--white) !important;
    font-size: 1rem;
    font-weight: 400;

    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;

    cursor: default;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--aqua);
    border-radius: 5px;
}

/* Navbar */
.nav {
    position: fixed;
    width: 100%;
    background-color: hsla(216, 65%, 11%, 0.95);
    z-index: 2;
}

.navbar-collapse {
    border-bottom: 1px solid var(--white);
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        border-bottom: none;
    }
}

.navbar-brand {
    padding-left: 0rem;
    font-size: 2.5rem;
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    .navbar-brand {
        padding-left: 1rem;
    }
}

.nav-link {
    cursor: pointer;
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 700;
}

.nav-link.active,
.nav-link:hover {
    color: var(--aqua) !important;
}

/* Perfil */
#section-profile {
    padding: 10rem 0rem 0rem 0rem;
}

@media screen and (min-width: 700px) {
    #section-profile {
        padding: 15rem 5rem 5rem 5rem;
    }
}

.title-profile,
.subtitle-profile,
.description-profile {
    margin: 0;
}

.title-profile {
    font-size: 4rem;
    font-weight: 700;
}

@media screen and (min-width: 400px) {
    .title-profile {
        font-size: 5rem;
    }
}

@media screen and (min-width: 550px) {
    .title-profile {
        font-size: 7rem;
    }
}

.subtitle-profile {
    font-size: 2rem;
    font-weight: 600;
}

@media screen and (min-width: 400px) {
    .subtitle-profile {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 550px) {
    .subtitle-profile {
        font-size: 5.5rem;
    }
}

.description-profile {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

@media screen and (min-width: 400px) {
    .description-profile {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 550px) {
    .description-profile {
        font-size: 1.5rem;
    }
}

.profile-button {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    font-size: 1rem;
    color: var(--white);
}

@media screen and (min-width: 550px) {
    .profile-button {
        font-size: 1.5rem !important;
    }
}

.profile-button:hover,
.profile-button:active {
    background-color: var(--dark) !important;
    color: var(--aqua) !important;
}

.profile-button:hover {
    transform: scale(101%);
}

/* Teconologías */
#section-technologies {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.h1-technologies {
    font-size: 3rem;
}

.carousel-item-img {
    margin: 0 auto 1rem auto;
    width: 8rem !important;
}

.carousel-item-p {
    font-size: 2rem;
}

/* Carousel Alice */
.alice-carousel__wrapper {
    cursor: pointer;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    font-size: 3rem !important;
    color: var(--aqua);
}

.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
    color: var(--aqua);
    transform: scale(105%);
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    padding: 0rem 0rem 0rem 0rem !important;
}

/* Experiencia */
#section-experience {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.h1-experience {
    font-size: 3rem;
}

header h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 0;
}

header p {
    text-align: center;
    margin-bottom: 0;
}

.hexa {
    border: 0px;
    float: left;
    text-align: center;
    height: 35px;
    width: 60px;
    font-size: 22px;
    background: #f0f0f0;
    color: #3c3c3c;
    position: relative;
    margin-top: 15px;
}

.hexa:before {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 15px solid #f0f0f0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    top: -15px;
}

.hexa:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 15px solid #f0f0f0;
    bottom: -15px;
}

.timeline {
    position: relative;
    padding: 0;
    width: 100%;
    margin-top: 20px;
    list-style-type: none;
}

.timeline:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    height: 100%;
    margin-left: -1px;
    background: rgb(213, 213, 213);
    background: -moz-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
    );
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(30, 87, 153, 1)),
        color-stop(100%, rgba(125, 185, 232, 1))
    );
    background: -webkit-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
    );
    background: -o-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
    );
    background: -ms-linear-gradient(
        top,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
    );
    background: linear-gradient(
        to bottom,
        rgba(213, 213, 213, 0) 0%,
        rgb(213, 213, 213) 8%,
        rgb(213, 213, 213) 92%,
        rgba(213, 213, 213, 0) 100%
    );
    z-index: 5;
}

.timeline li {
    padding: 2em 0;
}

.timeline .hexa {
    width: 16px;
    height: 10px;
    position: absolute;
    background: var(--aqua);
    z-index: 5;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: -30px;
    margin-top: 0;
}

.timeline .hexa:before {
    border-bottom: 4px solid var(--aqua);
    border-left-width: 8px;
    border-right-width: 8px;
    top: -4px;
}

.timeline .hexa:after {
    border-left-width: 8px;
    border-right-width: 8px;
    border-top: 4px solid var(--aqua);
    bottom: -4px;
}

.direction-l,
.direction-r {
    float: none;
    width: 100%;
    text-align: center;
}

.flag-wrapper {
    text-align: center;
    position: relative;
}

.flag {
    position: relative;
    display: inline;
    background: var(--aqua);
    font-weight: 600;
    font-size: 2rem !important;
    z-index: 15;
    padding: 6px 10px;
    text-align: left;
    border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -15px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: var(--aqua);
    border-width: 8px;
    pointer-events: none;
}

.direction-l .flag {
    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
        0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
        0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
    -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
        0 0 1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
        0 0 1px rgba(0, 0, 0, 0.15);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
    line-height: 1em;
    vertical-align: middle;
    color: #fff;
}

.direction-l .time-wrapper {
    float: none;
}

.direction-r .time-wrapper {
    float: none;
}

.time {
    background: var(--aqua);
    display: inline-block;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: var(--dark);
    z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    z-index: 15;
}

@media (min-width: 992px) {
    .timeline {
        width: 660px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .timeline li:after {
        content: '';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .timeline .hexa {
        left: -28px;
        right: auto;
        top: 1.2rem;
    }

    .timeline .direction-l .hexa {
        left: auto;
        right: -28px;
    }

    .direction-l {
        position: relative;
        width: 310px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 310px;
        float: right;
        text-align: left;
    }

    .flag-wrapper {
        display: inline-block;
    }

    .flag {
        font-size: 18px;
    }

    .direction-l .flag:after {
        left: auto;
        right: -16px;
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-left-color: var(--aqua);
        border-width: 8px;
    }

    .direction-r .flag:after {
        top: 50%;
        margin-top: -8px;
        border: solid transparent;
        border-right-color: var(--aqua);
        border-width: 8px;
        left: -8px;
    }

    .time-wrapper {
        display: inline;
        vertical-align: middle;
        margin: 0.5rem 0 0 0;
    }

    .direction-l .time-wrapper {
        float: left;
    }

    .direction-r .time-wrapper {
        float: right;
    }

    .time {
        padding: 5px 10px;
    }

    .direction-r .desc {
        margin: 1em 0 0 0.75em;
    }
}

@media (min-width: 992px) {
    .timeline {
        width: 800px;
        margin: 0 auto;
        margin-top: 20px;
    }

    .direction-l {
        position: relative;
        width: 380px;
        float: left;
        text-align: right;
    }

    .direction-r {
        position: relative;
        width: 380px;
        float: right;
        text-align: left;
    }
}

/* Educación */
#section-education {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.h1-education {
    font-size: 3rem;
}

.box-education {
    border: 0.1rem solid var(--aqua);
    width: 100%;
    border-radius: 10px;
}

.button-education {
    border: none;
    background-color: inherit;
    color: var(--white);
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.button-education::before {
    background-color: var(--aqua);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.3s;
    width: 100%;
    z-index: -1;
}

.button-education:hover::before {
    transform: translateX(0);
}

.button-education-first.active {
    background: linear-gradient(
        90deg,
        rgba(0, 255, 255, 1) 0%,
        rgba(10, 25, 47, 1) 100%
    );
}

.button-education-last::before {
    background-color: var(--aqua);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    width: 100%;
    z-index: -1;
}

.button-education-last:hover::before {
    transform: translateX(0);
}

.button-education-last.active {
    background: linear-gradient(
        90deg,
        rgba(10, 25, 47, 1) 0%,
        rgba(0, 255, 255, 1) 100%
    );
}

@media screen and (min-width: 768px) {
    .button-education::before {
        background-color: var(--aqua);
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        transition: all 0.3s;
        width: 100%;
        z-index: -1;
    }

    .button-education:hover::before {
        transform: translateX(0);
    }

    .button-education.active {
        background: linear-gradient(
            90deg,
            rgba(0, 255, 255, 1) 0%,
            rgba(10, 25, 47, 1) 100%
        );
    }
}

.border-education {
    border-bottom: 0.1rem solid var(--aqua);
    height: 100%;
}

@media screen and (min-width: 768px) {
    .border-education {
        border-bottom: none !important;
        border-right: 0.1rem solid var(--aqua);
    }
}

.parent-cards {
    max-height: 25rem;
    overflow-y: auto;
}

.parent-cards::-webkit-scrollbar {
    width: 7px;
}

.parent-cards::-webkit-scrollbar-thumb {
    background-color: var(--aqua);
    border-radius: 5px;
}

.card-education {
    border-radius: 20px;
    border: 0.1rem solid var(--aqua);
    height: 11rem;
    width: 20rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 30px 7px rgba(255, 255, 255, 0.05),
        -5px -5px 30px 7px rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: 0.3s;
}

.card-education:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 30px 15px rgba(255, 255, 255, 0.1),
        -5px -5px 30px 15px rgba(255, 255, 255, 0.1);
}

.title-card-education {
    font-size: 1.3rem;
}

.subtitle-card-education {
    font-size: 1rem;
    font-weight: 600;
    margin-top: auto !important;
}

.date-card-education {
    font-size: 0.9rem;
    font-weight: 600;
}
