@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Oswald:wght@700&display=swap');

/* Portafolio */
body {
    background-color: #0a192f !important;
    color: #ffffff !important;
    font-size: 1rem;
    font-weight: 400;

    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;

    cursor: default;
}

/* Navbar */
.nav {
    position: fixed;
    width: 100%;
    background-color: hsla(216, 65%, 11%, 0.95);
    z-index: 2;
}

.navbar-collapse {
    border-bottom: 1px solid white;
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        border-bottom: none;
    }
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-link {
    cursor: pointer;
    color: #ffff;
    font-size: 1.9rem;
    font-weight: 700;
}

.nav-link.active,
.nav-link:hover {
    color: #52d0b7 !important;
}

.navbar-button-cv {
    padding: 0.1rem;
}

.navbar-button-cv:hover,
.navbar-button-cv:active {
    background-color: #0a192f !important;
}

/* Perfil */
#sectionPerfil {
    padding: 10rem 0rem 0rem 0rem;
}

@media screen and (min-width: 700px) {
    #sectionPerfil {
        padding: 15rem 5rem 5rem 5rem;
    }
}

.title,
.subtitle,
.description {
    margin: 0;
}

.title {
    font-size: 7rem;
    font-weight: 700;
}

.subtitle {
    font-size: 5.5rem;
    font-weight: 600;
}

.description {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

/* Teconologías */
#sectionTecnologias {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.h1-tecnologias {
    font-size: 3rem;
}

.swiper-button-prev, .swiper-button-next {
    background-color: #0a192f;
    color: white !important;
}

.swiper-slide-img {
    margin: 0 auto 1rem auto;
    display: block;
    width: 8rem;
}

.swiper-slide-p {
    font-size: 2rem;
}