@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Oswald:wght@700&display=swap');

/* Portafolio */
body {
    background-color: #0a192f !important;
    color: #ffffff !important;
    font-size: 1rem;
    font-weight: 400;

    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;

    cursor: default;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: #52d0b7;
    border-radius: 5px;
}

/* Navbar */
.nav {
    position: fixed;
    width: 100%;
    background-color: hsla(216, 65%, 11%, 0.95);
    z-index: 2;
}

.navbar-collapse {
    border-bottom: 1px solid white;
}

@media screen and (min-width: 992px) {
    .navbar-collapse {
        border-bottom: none;
    }
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 700;
}

.nav-link {
    cursor: pointer;
    color: #ffff;
    font-size: 1.9rem;
    font-weight: 700;
}

.nav-link.active,
.nav-link:hover {
    color: #52d0b7 !important;
}

/* Perfil */
#section-profile {
    padding: 10rem 0rem 0rem 0rem;
}

@media screen and (min-width: 700px) {
    #section-profile {
        padding: 15rem 5rem 5rem 5rem;
    }
}

.title-profile,
.subtitle-profile,
.description-profile {
    margin: 0;
}

.title-profile {
    font-size: 4rem;
    font-weight: 700;
}

@media screen and (min-width: 400px) {
    .title-profile {
        font-size: 5rem;
    }
}

@media screen and (min-width: 550px) {
    .title-profile {
        font-size: 7rem;
    }
}

.subtitle-profile {
    font-size: 2rem;
    font-weight: 600;
}

@media screen and (min-width: 400px) {
    .subtitle-profile {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 550px) {
    .subtitle-profile {
        font-size: 5.5rem;
    }
}

.description-profile {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
}

@media screen and (min-width: 400px) {
    .description-profile {
        font-size: 1.3rem;
    }
}

@media screen and (min-width: 550px) {
    .description-profile {
        font-size: 1.5rem;
    }
}

.profile-button {
    padding: 0.5rem;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    font-size: 1rem;
    color: white;
}

@media screen and (min-width: 550px) {
    .profile-button {
        font-size: 1.5rem !important;
    }
}

.profile-button:hover,
.profile-button:active {
    background-color: #0a192f !important;
    color: #52d0b7 !important;
}

.profile-button:hover {
    transform: scale(101%);
}

/* Teconologías */
#section-technologies {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.h1-technologies {
    font-size: 3rem;
}

.carousel-item-img {
    margin: 0 auto 1rem auto;
    width: 8rem !important;
}

.carousel-item-p {
    font-size: 2rem;
}

/* Carousel Alice */
.alice-carousel__wrapper {
    cursor: pointer;
}

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
    font-size: 3rem !important;
    color: #52d0b7;
}

.alice-carousel__prev-btn-item:hover,
.alice-carousel__next-btn-item:hover {
    color: #52d0b7;
    transform: scale(90%);
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    padding: 0rem 0rem 0rem 0rem !important;
}

/* Educación */
#section-education {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.h1-education {
    font-size: 3rem;
}

.box-education {
    border: 0.1rem solid #52d0b7;
    width: 100%;
    border-radius: 10px;
}

.button-education {
    border: none;
    background-color: inherit;
    color: white;
    cursor: pointer;
    display: inline-block;
    height: 3rem;
    overflow: hidden;
    padding: 0;
    position: relative;
    z-index: 1;
}

.button-education::before {
    background-color: #52d0b7;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.3s;
    width: 100%;
    z-index: -1;
}

.button-education:hover::before {
    transform: translateX(0);
}

.button-education-first.active {
    background: rgb(82, 208, 183);
    background: linear-gradient(
        90deg,
        rgba(82, 208, 183, 1) 0%,
        rgba(10, 25, 47, 1) 100%
    );
}

.button-education-last::before {
    background-color: #52d0b7;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(100%);
    transition: all 0.3s;
    width: 100%;
    z-index: -1;
}

.button-education-last:hover::before {
    transform: translateX(0);
}

.button-education-last.active {
    background: rgb(10, 25, 47);
    background: linear-gradient(
        90deg,
        rgba(10, 25, 47, 1) 0%,
        rgba(82, 208, 183, 1) 100%
    );
}

@media screen and (min-width: 768px) {
    .button-education::before {
        background-color: #52d0b7;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateX(-100%);
        transition: all 0.3s;
        width: 100%;
        z-index: -1;
    }

    .button-education:hover::before {
        transform: translateX(0);
    }

    .button-education.active {
        background: rgb(82, 208, 183);
        background: linear-gradient(
            90deg,
            rgba(82, 208, 183, 1) 0%,
            rgba(10, 25, 47, 1) 100%
        );
    }
}

.border-education {
    border-bottom: 0.1rem solid #52d0b7;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .border-education {
        border-bottom: none !important;
        border-right: 0.1rem solid #52d0b7;
    }
}

.parent-cards {
    max-height: 25rem;
    overflow-y: auto;
}

.parent-cards::-webkit-scrollbar {
    width: 7px;
}

.parent-cards::-webkit-scrollbar-thumb {
    background-color: #52d0b7;
    border-radius: 5px;
}

.card-education {
    border-radius: 20px;
    border: 0.1rem solid #52d0b7;
    height: 11rem;
    width: 20rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 30px 7px rgba(255, 255, 255, 0.05),
        -5px -5px 30px 7px rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: 0.3s;
}

.card-education:hover {
    transform: scale(1.01);
    box-shadow: 5px 5px 30px 15px rgba(255, 255, 255, 0.1),
        -5px -5px 30px 15px rgba(255, 255, 255, 0.1);
}

.title-card-education {
    font-size: 1.3rem;
}

.subtitle-card-education {
    font-size: 1rem;
    font-weight: 600;
    margin-top: auto !important;
}

.date-card-education {
    font-size: 0.9rem;
    font-weight: 600;
}
