@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Oswald:wght@700&display=swap');

:root {
    --dark: #0a192f;
    --aqua: #00ffff;
    --white: #fff;
}

body {
    background-color: var(--dark) !important;
    color: var(--white) !important;
    font-size: 1rem;
    font-weight: 400;

    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;

    cursor: default;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--aqua);
    border-radius: 5px;
}

.div-section {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.div-section:last-child {
    margin-bottom: 5rem;
}

.h1-section {
    font-size: 3rem;
}
